<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include 'global/partials/_head.html' %}
</head>

<body>
    {% block content %}
    <div class="background-stars">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </div>
    {% include 'global/partials/_header.html' %}
    {% include 'global/partials/_menu.html' %}
    {% include 'global/partials/_local.html' %}
    {% include 'global/partials/_team.html' %}
    {% include 'global/partials/_about.html' %}
    {% include 'global/partials/_footer.html' %}



    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 800,
            once: true,
        });
    </script>
    {% endblock %}
</body>

</html>