{% extends 'global/base.html' %}
{% load static %}

{% block content %}

<div class="pagina-barbeiro">

    <a href="{% url 'barbershop:index' %}" class="btn-voltar">← Voltar</a>

    <div class="perfil-wrapper">
        <div class="foto-perfil">
            <img src="{{ barbeiro.foto }}" alt="{{ barbeiro.nome }}">
        </div>

        <div class="info-perfil">
            <h1>{{ barbeiro.nome }}</h1>
            <p>{{ barbeiro.descricao }}</p>
        </div>
    </div>

</div>
<div class="background-stars">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
</div>


{% endblock %}