{% load static %}

<section class="about">
    <div class="about-container">
        <h2 data-aos="fade-up">✂️ QUEM SOMOS</h2>
        <h3 data-aos="fade-up" data-aos-delay="150">
            ESTILO, TRADIÇÃO E ATENDIMENTO DE VERDADE
        </h3>

        <div class="about-content">
            <div class="about-image" data-aos="fade-right" data-aos-delay="300">
                <img src="{% static 'global/images/mim.jpg' %}" alt="Foto do barbeiro">
            </div>
            <div class="about-text" data-aos="fade-left" data-aos-delay="400">
                <p>
                    Na Picon, acreditamos que cuidar do visual é mais do que um simples corte — é uma forma de
                    expressar identidade, confiança e estilo.
                    <br>
                    <br>
                    Somos uma barbearia criada para oferecer mais do que um serviço: entregamos uma experiência
                    completa, onde tradição e modernidade se encontram em cada detalhe.
                    <br>
                    <br>
                    Com uma equipe de barbeiros especializados e apaixonados pelo que fazem, nosso compromisso é
                    garantir que cada cliente saia daqui não apenas satisfeito, mas orgulhoso do reflexo que vê no
                    espelho.
                    <br>
                    <br>
                    Na Picon, seu corte é sua marca. E nosso orgulho é fazer parte dela.
                </p>
            </div>
        </div>
    </div>
</section>