{% load static %}

<section class="footer-container" data-aos="fade-up" data-aos-duration="900">
    <footer class="footer-divider">
        <div class="footer-container">
            <h2 data-aos="fade-up" data-aos-duration="700">BARBEARIA PICON ✂️</h2>
            <h3 data-aos="fade-up" data-aos-duration="800">Rua Tuiuti, 2854 - Vila Gomes Cardim, São Paulo - SP</h3>
            <h5 data-aos="fade-up" data-aos-duration="900">📱 (11) 98425-3611 | 📧 contato@barbeariapicon.com</h5>

            <div class="footer-links" data-aos="fade-up" data-aos-duration="400">
                <a href="https://www.instagram.com/piconbarbearia/" target="_blank">Instagram</a>
                <span>|</span>
                <a href="https://www.facebook.com/profile.php?id=61565865804066" target="_blank">Facebook</a>
                <span>|</span>
                <a href="https://wa.me/5511984253611" target="_blank">WhatsApp</a>
            </div>
        </div>

        <div class="footer-bottom-bar">
            <p class="footer-dev">
                Desenvolvido por
                <a href="https://www.linkedin.com/in/felipe-silva-nascimento/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                    Felipe Nascimento
                </a>
            </p>
        </div>
    </footer>
</section>
