{% load static %}

<header>
    <img class="logo-img" src="{% static 'global/images/letreiro.png' %}" alt="Logo">
</header>

<section>
    <div class="slogan">
        <h1>BARBEARIA, TRANÇAS</h1>
        <H2>AMIZADE E CONEXÃO</H2>
    </div>
</section>

<section class="estilo-container">
    <div class="foto-box">
        <img src="{% static 'global/images/foto1.jpg' %}" alt="Corte 1">
    </div>
    <div class="foto-box">
        <img src="{% static 'global/images/foto1.jpg' %}" alt="Corte 2">
    </div>
</section>