{% load static %}

<section class="estilo-container">
    <div class="foto-box">
        <img src="{% static 'global/images/corte1.jpg' %}" alt="Corte 1">
    </div>
    <div class="foto-box">
        <img src="{% static 'global/images/corte3.jpg' %}" alt="Corte 2">
    </div>
    <div class="foto-box">
        <img src="{% static 'global/images/corte2.jpg' %}" alt="Corte 3">
    </div>

    <div class="white-divider" data-aos="fade-up" data-aos-delay="400">
        <h2>AGENDE SEU HORÁRIO CONOSCO</h2>
        <h3>AGENDAMENTO RÁPIDO E FÁCIL</h3>

        <div class="divider-buttons" data-aos="fade-up" data-aos-delay="500">
            <a href="#" class="btn btn-white">📲 Baixar Aplicativo</a>
            <a href="#" class="btn btn-white">🖥️ Agende pelo Site</a>
        </div>
    </div>
</section>