{% load static %}

<section class="estilo-container">
    <div class="foto-box">
        <img src="{% static 'global/images/fotocorte.jpg' %}" alt="Corte 1">
    </div>
    <div class="foto-box">
        <img src="{% static 'global/images/fotocorte.jpg' %}" alt="Corte 2">
    </div>

    <div class="white-divider">
        <h2>AGENDE SEU HORÁRIO CONOSCO</h2>
        <h3>AGENDAMENTO RÁPIDO E FÁCIL</h3>

        <div class="divider-buttons">
            <a href="#" class="btn btn-white">📲 Baixar Aplicativo</a>
            <a href="#" class="btn btn-white">🖥️ Agende pelo Site</a>
        </div>
    </div>
</section>