{% load static %}

<section class="time-barbeiros">
    <div class="time-divider">
        <h2>✂️ NOSSO TIME DE BARBEIROS</h2>
        <h3>PROFISSIONAIS QUALIFICADOS E PREPARADOS PARA TE ATENDER</h3>

        <div class="time-buttons">
            <div class="barbeiro-card" data-aos="fade-up" data-aos-delay="100">
                <img src="{% static 'global/images/logo2.png' %}" alt="Marins">
                <h3>Vinicius</h3>
                <a href="{% url 'barbershop:detalhe_barbeiro' 'vinicius' %}" class="btn-barbeiro">Conhecer mais</a>
            </div>
            <div class="barbeiro-card" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'global/images/logo2.png' %}" alt="Theo">
                <h3>Theo</h3>
                <a href="{% url 'barbershop:detalhe_barbeiro' 'theo' %}" class="btn-barbeiro">Conhecer mais</a>
            </div>
            <div class="barbeiro-card" data-aos="fade-up" data-aos-delay="300">
                <img src="{% static 'global/images/logo2.png' %}" alt="Eduarda">
                <h3>Eduarda</h3>
                <a href="{% url 'barbershop:detalhe_barbeiro' 'eduarda' %}" class="btn-barbeiro">Conhecer mais</a>
            </div>
            <div class="barbeiro-card" data-aos="fade-up" data-aos-delay="400">
                <img src="{% static 'global/images/logo2.png' %}" alt="Wendel">
                <h3>Wendel</h3>
                <a href="{% url 'barbershop:detalhe_barbeiro' 'wendel' %}" class="btn-barbeiro">Conhecer mais</a>
            </div>
            <div class="barbeiro-card" data-aos="fade-up" data-aos-delay="400">
                <img src="{% static 'global/images/logo2.png' %}" alt="Wendel">
                <h3>Ste</h3>
                <h5>Trancista</h5>
                <a href="{% url 'barbershop:detalhe_barbeiro' 'ste' %}" class="btn-barbeiro">Conhecer mais</a>
            </div>
        </div>
    </div>
</section>