{% load static %}

<section class="time-barbeiros">
    <div class="time-divider">
        <h2>✂️ NOSSO TIME DE BARBEIROS</h2>
        <h3>PROFISSIONAIS QUALIFICADOS E PREPARADOS PARA TE ATENDER</h3>

        <div class="time-buttons">
            <div class="barbeiro-card" data-aos="fade-up" data-aos-delay="100">
                <img src="{% static 'global/images/mim.jpg' %}" alt="Marins">
                <h3>Marins</h3>
                <a href="#" class="btn-barbeiro">Conhecer mais</a>
            </div>
            <div class="barbeiro-card" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'global/images/mim.jpg' %}" alt="Theo">
                <h3>Theo</h3>
                <a href="#" class="btn-barbeiro">Conhecer mais</a>
            </div>
            <div class="barbeiro-card" data-aos="fade-up" data-aos-delay="300">
                <img src="{% static 'global/images/mim.jpg' %}" alt="Eduarda">
                <h3>Eduarda</h3>
                <a href="#" class="btn-barbeiro">Conhecer mais</a>
            </div>
            <div class="barbeiro-card" data-aos="fade-up" data-aos-delay="400">
                <img src="{% static 'global/images/mim.jpg' %}" alt="Wendel">
                <h3>Wendel</h3>
                <a href="#" class="btn-barbeiro">Conhecer mais</a>
            </div>
        </div>
    </div>
</section>