header {
  text-align: center;
  padding-top: 150px;
  background-color: transparent;
  z-index: -5;
}

.logo-img {
  width: 300px;
  transition: width 0.3s, height 0.3s;
}

section {
  text-align: center;
  margin-top: 150px;
}

.slogan h1 {
  font-size: 2.5rem;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: fadeInUp 1s ease-out;
  text-shadow: 1px 1px 2px #000;
  margin-bottom: 10px;
}

.slogan h2 {
  font-size: 1.5rem;
  color: #cccccc;
  font-weight: 300;
  letter-spacing: 1.5px;
  animation: fadeInUp 1.5s ease-out;
  text-shadow: 1px 1px 2px #111;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .logo-img {
    width: 250px;
  }

  .slogan h1 {
    font-size: 20px;
    margin: 0;
    padding: 5px;
  }

  .slogan h2 {
    font-size: 12px;
    margin: 0;
    padding: 5px;
  }
}